web/vendor
api/vendor
*.log
web/composer.lock
api/composer.lock
web/public/documents/pdfview/
web/public/userdocuments/
*setting.php
web/public/instruction_file/
web/public/particulars/
web/public/uploads/
web/public/validcertifi/
web/public/approved/
*.env
web/public/user_signature/
web/storage/*.pdf
api-mlhud/public/images/signatures/

web/.env.example
api-mlhud/composer.lock
web/node_modules
web/node_modules/.bin/acorn.ps1
web/package-lock.json
web/package.json


api-mlhud/public/images/signatures
ApiGateway_Publish/ocelot.json
web/composer.json
ApiGateway_Publish/ocelot.json
web/composer.json
ApiGateway_Publish/ocelot.json

web/composer.json

ApiGateway_Publish/ocelot.json

